:root {
    --grid-cell-width: 100px;  
    --grid-cell-height: 100px; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 141, 130);
    color: white;

}

nav, footer {
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(234, 239, 240);
}

.header-rhs {
    display: flex;
    align-items: center;
}

#colours {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#main-container {
    display: flex;
    height: 600px; 
}

section {
    flex-grow: 1;
}

aside {
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.colour-picker {
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 30px 30px 0px 30px;
}

aside h3 {
    margin: 30px 0px 0px 0px;
}

.colour-picker:hover {    
    transform: scale(1.2);
}

#colour-choice {
    background-color: red;
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 0px 0px 0px 20px;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#blue {
    background-color: blue;
}

#random {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

@media only screen and (max-width: 640px) {
    #sketch-container {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    align-content: flex-start; /* Aligns rows to the start without gaps */
    width: 300px; 
    height: 300px; 
    margin-top: 30px;
}
}

@media  only screen and (min-width: 641px) and (max-width: 1200px) {
    #sketch-container {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    align-content: flex-start; /* Aligns rows to the start without gaps */
    width: 500px; 
    height: 500px; 
    margin-top: 30px;   
}
}

.grid-cell {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid black;
    margin: 0px;
    padding: 0px;
    width: var(--grid-cell-width);
    height: var(--grid-cell-height);
    box-sizing: border-box;
    transition: background-color 0.9s;
}

.grid-cell:hover {
    background-color: rgb(80, 77, 77); /* Color when mouse hovers over */
}

footer {
    display: flex;
    flex-direction: column;
}

p {
    padding: 5px;
    margin: 0px;
}