:root {
    --grid-cell-width: 100px;  
    --grid-cell-height: 100px; 
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 141, 130);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav, footer {
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(234, 239, 240);
}

#main-container {
    display: flex;
    height: 600px; 
}

section {
    flex-grow: 1;
}

#colour-picker {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#sketch-container {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    align-content: flex-start; /* Aligns rows to the start without gaps */
}

.grid-cell {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: var(--grid-cell-width);
    height: var(--grid-cell-height);
    box-sizing: border-box;
    transition: background-color 1.5s;
}

.grid-cell:hover {
    background-color: red; /* Color when mouse hovers over */
}

.clicked-grid-cell {
    background-color: rgb(4, 0, 255); /* Color when mouse hovers over */
}

footer {
    display: flex;
    flex-direction: column;
}

p {
    padding: 5px;
    margin: 0px;
}